.brand {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

ul li {
  margin-right: 72px;
  list-style: none;
}
ul li:hover {
  transform: scale(1.1);
  cursor: pointer;
  border-bottom: 1px solid var(--text-primary);
}

nav {
  margin-top: 43px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a:hover {
  text-decoration: none;
  transform: scale(1.1);
}
