section {
  margin-top: 80px;
}
h1 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 87px;
  line-height: 100%;
  text-transform: capitalize;
  color: #ffffff;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 45px;
}

.buttons {
  margin-top: 41px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.b-primary {
  width: 255px;
  height: 73px;
  background: #8d8dda;
  border-radius: 50px;
  margin-right: 13px;
}

.b-ghost {
  box-sizing: border-box;
  width: 255px;
  height: 73px;
  border: 1px solid #8ccaca;
  border-radius: 50px;
}
