<section class="row">
  <div class="col-md-6 d-flex flex-column justify-content-center">
    <h1>discover and collect rare NFTs</h1>
    <p>
      The most secure marketplace for buying and selling unique crypto assets.
    </p>
    <div class="d-flex buttons">
      <div class="button b-primary">buy nfts</div>
      <div class="button b-ghost">sell nfts</div>
    </div>
  </div>
  <div class="col-md-6">
    <img src="../../../assets/sections/section-1.png" alt="hero section 1" />
  </div>
</section>
