<div class="container">
  <div class="bg-grad-top"></div>
  <div class="bg-grad-right"></div>
  <app-navbar></app-navbar>
  <app-hero-section></app-hero-section>
  <app-logos></app-logos>
  <app-section
    [title]="'ANALYTICS'"
    [heading]="'built-in analytics to track your nfts'"
    [text]="
      'Use our built-in analytics dashboard to pull valuable insights and monitor
    the value of your Krypto portfolio over time.'
    "
    [button]="'view our pricing'"
    [reverse]="false"
  ></app-section>
  <app-section
    [title]="'get our app'"
    [heading]="'browse nfts from your smartphone'"
    [text]="
      'The most secure marketplace for buying and selling unique crypto assets.'
    "
    [button]="'Download on ios'"
    [reverse]="true"
  ></app-section>
</div>
