.bg-grad-top {
  position: absolute;
  width: 905px;
  height: 903px;
  left: calc(50% - 905px / 2 - 235.5px);
  top: -756px;
  background: #8080d7;
  filter: blur(322px);
  z-index: -2;
  opacity: 0.8;
}

.bg-grad-right {
  position: absolute;
  width: 905px;
  height: 903px;
  left: calc(50% - 905px / 2 + 915.5px);
  top: 283px;
  background: rgba(170, 217, 217, 0.72);
  filter: blur(322px);
  z-index: -2;
  opacity: 0.8;
}

.pos {
  position: relative;
}

.bottom-effect {
  position: absolute;
  width: auto;
  height: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(278.2deg, #54a4a4 1.59%, #5b5bb8 101.68%);
}
