section {
  margin-top: 123px;
}

span {
  width: 159px;
  height: 28px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.transparent-box {
  margin-top: 10px;
  width: 1065px;
  height: 100px;
  background: #131345;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  section {
    margin-top: 70px;
  }

  .transparent-box {
    margin-top: 10px;
    width: 90%;
    height: auto;
    flex-direction: column;
    padding: 20px 10px;
    margin: 0 auto;
  }

  .logo {
    margin-bottom: 25px;
  }
  span {
    margin-left: 25px;
    margin-top: 15px;
  }
}
